.contenido {
    display: flex;
    flex-direction: row;
    justify-content: left;
    background-color: #111;
    height: 100vh;
    width: 100vw;
}

h1 {
    padding: 20px 35px 0px 35px;
    color: #fff;
    background-color: #111;
    font-size: 4vw;
}

.left-div {
    display: flex;
    flex-direction: column;
    width: 25%;
    padding: 20px 35px 0px 35px;
}

.img-container {
    width: 100%;
    height: 50%;
    background-color: #666666;
    border: 1px solid #666666;
}

.img-container img {
    width: 100%;
    height: 100%;
}

.right-div {
    display: flex;
    flex-direction: column;
}

.subright-div1 {
    display: flex;
    flex-direction: row;
}

.subright-div1 div:nth-child(1) {
    width: 70%;
}

.right-div a {
    font-family: 'Nunito';
    font-size: 1.1vw;
    color: #7ea6b6;
}


/*
*
* Overwrite general
*
*/

input[type="text"],
input[type="number"] {
    width: 100%;
    font-size: 1.3vw;
}

textarea {
    font-family: 'Nunito';
    font-size: 1.3vw;
    color: #111111;
}

.input-container {
    margin-bottom: 0px;
    border-bottom: 1px #333 solid;
}