.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
    width: 100%;
    background-color: #111111;
}

.container-input {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #111111;
    width: 100%;
}

.inputs-container {
    background-color: magenta;
    display: flex;
    flex-direction: row;
    width: 50%;
    height: 35px;
}


/* SELECT */

.input-idtype {
    background-color: yellow;
    width: 25%;
    height: 100%;
    color: #666666;
    font-family: 'Nunito';
    font-size: 22px;
}


/* INPUT */

.dual-inputs {
    background-color: green;
    width: 55%;
    height: 35px;
}

.input-string {
    height: 35px;
}

.input-string input {
    width: 100%;
}


/* BUTTON */

button {
    width: 20%;
    height: 35px;
}


/* SUBTITLE */

p {
    color: #FFFFFF;
    font-size: 20px;
}

.tabla-uno {
    width: 90%;
    background: #FFFFFF;
    /* border-collapse: collapse; */
}

.tabla-uno tbody tr:nth-child(odd) {
    background: linear-gradient(0deg, #eaeef4 0%, #FFFFFF 60%);
}

.tabla-uno th,
table td {
    padding: 0.5rem 2rem;
}

.tabla-uno thead {
    font-family: 'Nunito';
    font-size: 22px;
}

.tabla-uno thead tr {
    border-bottom: 2px solid #BB9526;
}

.tabla-uno tbody {
    font-family: 'Nunito';
    font-size: 16px;
}

.tabla-uno tbody tr {
    border-bottom: 1px solid #BAC1CA;
}

.tabla-uno tbody tr:hover {
    cursor: pointer;
    border-bottom: 2px solid #950F11;
}

.tabla-uno tfoot {
    font-family: 'Nunito';
    font-size: 16px;
    border-bottom: 2px solid #BB9526;
}

.tabla-uno tfoot tr {
    border-bottom: 1px solid #BB9526;
}

.tabla-uno tfoot tr:hover {
    cursor: pointer;
    border-bottom: 2px solid #950F11;
}

.swal2-container .swal2-title {
    font-family: 'Oswald';
    font-size: 32px;
}

.swal2-container .swal2-html-container {
    font-family: 'Nunito';
    font-size: 24px;
}