.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 15px;
    height: 100vh;
    width: 100%;
    background-color: #111111;
}

.container-input {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #111111;
    width: 100%;
}

.inputs-container {
    display: flex;
    flex-direction: row;
    margin-bottom: 1%;
    width: 50%;
    height: 35px;
}


/* SELECT */

.input-idtype {
    width: 25%;
    height: 100%;
    font-family: 'Nunito';
    font-size: 22px;
}

.input-idtype select {
    color: #FFFFFF;
}


/* INPUT */

.dual-inputs {
    width: 55%;
    height: 35px;
}

.input-string {
    width: 100%;
    height: 35px;
}

.input-string input {
    color: #FFFFFF;
    width: 100%;
}


/* BUTTON */

.btn1-fondoclaro {
    width: 20%;
    height: 35px;
}


/* SUBTITLE */

p {
    margin-bottom: 3%;
    color: #888;
    font-size: 18px;
}


/*
 *
 * TABLA
 *
 *
 */

.tabla-uno {
    width: 90%;
    height: 100%;
    border: 15px solid #222222;
    background: #222222;
    color: #FFFFFF;
}

.tabla-uno tbody tr:nth-child(odd) {}

.tabla-uno th {
    vertical-align: center;
    text-align: center;
}

.tabla-uno td {
    width: 100px;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    padding-right: 1rem;
}


/*

*/

.tabla-uno thead {
    font-family: 'Nunito';
    font-size: 22px;
}

.tabla-uno thead tr {
    border-bottom: 2px solid #BB9526;
}

.tabla-uno tbody {
    background: #222222;
    font-family: 'Nunito';
    font-size: 16px;
}

.tabla-uno tbody tr {
    background: #222222;
    border-bottom: 1px solid #BAC1CA;
}

.tabla-uno tbody tr:hover {
    border-bottom: 2px solid #950F11;
}

.swal2-container .swal2-title {
    font-family: 'Oswald';
    font-size: 32px;
}

.swal2-container .swal2-html-container {
    font-family: 'Nunito';
    font-size: 24px;
}