h1 {
    font-family: "Oswald";
    font-size: 20px;
    font-weight: bold;
    padding: 2%;
    color: #fff;
}

.contenido {
    background-image: url(../media/background1.jpg);
}

.contenedor-principal {
    display: flex;
    color: #fff;
}

.contenedor-principal img {
    max-width: 200px;
    margin: 3px;
    padding: 20px;
}

.contenedor-centro {
    flex-direction: row;
    flex-wrap: wrap;
    width: 35%;
}

.input-box {
    margin: 2%;
    padding: 2%;
    width: 70%;
}

.input-box-compuesto {
    margin: 2%;
    padding: 2%;
}

.input-box-compuesto form {
    display: inline;
}

.contenedor-der {
    flex-direction: row;
    flex-wrap: wrap;
    width: 35%;
    align-self: left;
}

.card-botones {
    display: flex;
    margin-top: 35%;
}

.card-botones button {
    margin: 15px;
}

input {
    padding: 3px;
    margin: 3px;
}

.notice {
    margin: 2%;
    padding: 2%;
    font-family: 'Nunito';
    font-size: 16px;
    border: 1px solid #fff;
    ;
    border-radius: 3px;
}

h2 {
    font-family: 'Nunito';
    font-size: 16px;
}