.padding{
    padding: 10px 0;
}

.btn-container{
    display: flex;
    flex-direction: row;
}

.btn-instruction{
 width: 10%;
}

p{
    font-size: 12px;
    margin: 10px 0;
}

.contenido{
    background-color: #111;
    color: #fff;
    height: 100vh;
    padding: 30px;
}