h1 {
    font-size: 40px;
}

h2 {
    font-size: 30px;
    margin-bottom: 30px;
}

h3 {
    font-size: 20px;
    margin-bottom: 40px;
}

body {
    background-color: #111111;
    color: #fff;
}

.sct-edit-rooms {
    padding: 0% 50px;
}

.div-edit-header {
    height: 100px;
    margin-top: 60px;
}

.div-edit-content {
    display: flex;
    justify-content: space-between;
}

.div-edit-form {
    padding: 0% 10px;
}

.div-edit-form-general, .div-edit-form-seats {
    margin-bottom: 50px;
}

.div-preview {
    padding-left: 50px;
}

.checkbox-solo {
    margin-bottom: 15px;
}