.container {
    height: 100vh;
    background-color: #111111;
    background-size: cover;
}

section {
    height: 100%;
    padding-top: 1%;
}

.section-step-inactive {
    display: none;
}

.section-step-active {
    display: flex;
    justify-content: start;
    align-items: center;
    color: #FFFFFF;
}


/*
*
* SECTION LEFT
*
*
*/

.section-left {
    height: 100%;
    display: block;
    padding-top: 35px;
    padding-left: 35px;
    padding-right: 35px;
    background-color: #222222;
}

.section-left p {
    padding: 10px;
    font-family: 'Nunito';
    font-size: 1.5rem;
}

.img-container {
    width: 200px;
    height: 300px;
    border: 1px solid #666666;
    border-radius: 3px;
    background-image: url(../media/joker.jpg);
    background-size: cover;
}

.section-left .step-container {
    position: relative;
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
    width: 100%;
}

.step-container {
    padding-top: 15%;
}

.step-active {
    font-weight: bold;
    font-size: 28px;
    color: #FFD65B;
}

.step-inactive {
    font-weight: normal;
    font-size: 20px;
    color: #FFFFFF;
}

.step-completed {
    font-weight: normal;
    font-size: 20px;
    color: #444444;
}


/*
*
* SECTION RIGTH
*
*
*/

.section-right {
    display: block;
    height: 100%;
    width: 100%;
    padding-left: 2%;
    background-color: #111111;
}

.section-title {
    margin-bottom: 3%;
    color: #FFFFFF;
}

.section-title h1 {
    margin-bottom: 1%;
    font-family: 'Oswald';
    font-size: 3rem;
}

.section-title p {
    font-family: 'Nunito';
    font-size: 1.5rem;
}

.section-right p {
    font-family: 'Nunito';
    font-size: 18px;
}

button {
    margin-left: 15%;
}


/*
*
*
* TABLAS
*
*
*/

th,
td {
    padding: 0.5rem 2rem;
    vertical-align: center;
}

.tabla {
    margin-bottom: 3%;
    font-family: 'Nunito';
    font-size: 16px;
    background: #222222;
    color: #FFFFFF;
    border-top: 15px solid #222222;
    border-bottom: 15px solid #222222;
}

.quant-modifier {
    padding: 0;
    vertical-align: center;
    cursor: pointer;
    font-family: 'Oswald';
    font-size: 24px;
    font-weight: bold;
}

#quant-modifier-minus-reg,
#quant-modifier-minus-kid,
#quant-modifier-minus-adu {
    text-align: right;
}

#quant-total-reg,
#quant-total-kid,
#quant-total-adu,
#quant-total,
#price-total {
    padding: 0;
    text-align: center;
}

#quant-modifier-plus-reg,
#quant-modifier-plus-kid,
#quant-modifier-plus-adu {
    text-align: left;
    vertical-align: center;
}

.quant-modifier:hover {
    cursor: pointer;
    color: #FFD65B;
}

.swal2-container .swal2-title {
    font-family: 'Oswald';
    font-size: 32px;
}

.swal2-container .swal2-html-container {
    font-family: 'Nunito';
    font-size: 24px;
}


/*
*
*
* TABLA DE ASIENTOS
*
*
*/

.tabla-asientos {
    background-color: #FFFFFF;
    border-color: #FFFFFF;
}

.tabla-asientos tr td {
    margin: 2px;
    background-color: #FFFFFF;
    border: #FFFFFF;
}

.tabla-asientos td:hover {
    cursor: pointer;
    outline: 1px solid #260303;
}

.tabla-asientos .material-icons {
    color: #00DB9D;
}


/*
*
* LEYENDA
*
*
*/

.leyenda {
    display: flex;
    justify-content: space-between;
    padding: 0;
    max-width: 600px;
}

.leyenda div {
    display: flex;
    flex-direction: column;
}

.leyenda div span {
    padding-left: 35%;
    padding-top: 3px;
}

form {
    padding-top: 3px;
    font-family: 'Nunito';
    font-size: 18px;
}

form div {
    margin-bottom: 5%;
}