.section-step-one {
    display: flex;
    justify-content: start;
    align-items: center;
}

.section-step-one .section-left {
    display: block;
    height: 300px;
    min-height: 300px;
    padding-top: 1%;
}

.section-step-one .section-left .step-container {
<<<<<<< Updated upstream
    display: block;
}

=======
    position: relative;
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 40%;
}


/*
display: block;
        width: 100%;
        height: 120px;
        margin-bottom: 15%;
        background: linear-gradient(0deg, #01413b 1%, #000000 80%);
        border-bottom: 1px solid white;
*/

>>>>>>> Stashed changes
.section-step-one .section-right {
    display: block;
    height: 300px;
    min-height: 300px;
    margin-left: 3%;
    padding-top: 5%;
}

.section-step-one .section-right .header-tabla {
    margin-bottom: 5%;
}

.tabla {
    background: #FFFFFF;
    margin: 0% 0% 3% 2%;
    /* border-collapse: collapse; */
}

.tabla tbody tr:nth-child(odd) {
    background: linear-gradient(0deg, #eaeef4 0%, #FFFFFF 60%);
}

.tabla th,
table td {
    padding: 0.5rem 2rem;
}

.tabla thead {
    font-family: 'Nunito';
    font-size: 22px;
}

.tabla thead tr {
    border-bottom: 2px solid #BB9526;
}

.tabla tbody {
    font-family: 'Nunito';
    font-size: 16px;
}

.tabla tbody tr {
    border-bottom: 1px solid #BAC1CA;
}

.tabla tbody tr:hover {
    cursor: pointer;
}

.tabla tfoot {
    font-family: 'Nunito';
    font-size: 16px;
    border-bottom: 2px solid #BB9526;
}

.tabla tfoot tr {
    border-bottom: 1px solid #BB9526;
}

.swal2-container .swal2-title {
    font-family: 'Oswald';
    font-size: 32px;
}

.swal2-container .swal2-html-container {
    font-family: 'Nunito';
    font-size: 24px;
}