/* Generalidades
*
*
* 
*
*
*
*
*
*/

* {
    box-sizing: border-box;
}

body {
    position: relative;
    min-height: 100vh;
    padding: 0;
    font-size: 16px;
    font-family: 'Nunito';
}

h1 {
    font-family: 'Oswald';
    font-size: 48px;
}

h2,
h3,
h4,
h5,
h6 {
    font-family: 'Nunito';
}

textarea {
    outline: none;
    resize: none;
    width: 100%;
    height: 200px;
}


/* Header y footer
*
*
* 
*
*
*
*
*
*/

.header-principal {
    font-family: 'Nunito', sans-serif;
    font-size: 16px;
    background: #111111;
    display: flex;
    min-height: 56px;
}

.header-principal .logo {
    margin-left: 2%;
    min-width: 250px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Oswald';
    font-size: 32px;
    color: #ffffff;
}

.header-principal nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.item {
    padding: 0px 10px;
    height: 100%;
    display: flex;
    align-items: center;
}

.item a {
    color: #fff;
    text-decoration: none;
}

.item:hover {
    background-color: #950F11;
}

.push {
    display: flex;
    height: 100%;
    margin-left: auto;
}

footer {
    position: relative;
    bottom: 0;
    margin-top: 3%;
    width: 100%;
    height: 120px;
    background-color: #111111;
}

footer .contain {
    display: flex;
    flex-direction: row;
}

footer .col {
    width: 290px;
    padding-top: 20px;
    padding-left: 10px;
}

footer .col p {
    margin-bottom: 6%;
    font-family: 'Oswald';
    font-size: 32px;
    color: #fff;
}

footer .col a {
    font-family: 'Nunito', sans-serif;
    font-size: 16px;
    color: #fff;
    text-decoration: none;
}


/* Botones
*
*
* 
*
*
*
*
*
*/

.btn1-fondoclaro {
    /*Position*/
    padding: 5px 10px 5px 10px;
    /*Self Decoration*/
    border: 1px solid transparent;
    border-radius: 3px;
    background: #950F11;
    /*Text*/
    font-family: 'Nunito';
    font-size: 1rem;
    font-weight: lighter;
    color: #FFFFFF;
    cursor: pointer;
    /*Animation*/
    transition: all 0.3s ease-in;
}

.fnd-claro {
    padding: 10%;
}

.fnd-oscuro {
    padding: 10%;
}
.btn1-fondoclaro:hover {
    border: 1px solid #FFFFFF;
    border-radius: 3px;
}


/* Inputs
*
*
* 
*
*
*
*
*
*/

.input-container {
    margin-bottom: 30px;
}

.input-default {
    border-bottom: 1px solid #333;
    border-radius: 4px;
    padding: 5px 5px;
    font-size: 16px;
}

.input-short {
    border-bottom: 1px solid #333;
    border-radius: 4px;
    padding: 5px 5px;
    font-size: 16px;
    width: 50%;
}

.form-text {
    font-size: 16px;
    width: 50%;
    line-height: 2;
    padding-left: 10px;
}

.input-default select {
    background-color: rgba(0, 0, 0, 0);
    border: 0;
    font-size: 16px;
    outline: none;
    font-family: 'Nunito';
    width: 100%;
}

.input-default select option {
    color: #fff;
    background-color: #333;
    border: none;
}

.input-short select {
    background-color: rgba(0, 0, 0, 0);
    border: 0;
    font-size: 16px;
    outline: none;
    font-family: 'Nunito';
    width: 100%;
}

.input-short select option {
    color: #fff;
    background-color: #333;
    border: none;
}

.dual-inputs {
    display: flex;
    justify-content: space-between;
}

/* INPUT TEXT TO WHITE */

.input-short select {
    color: #fff;
}

.input-default input{
    color: #fff;
}

.input-short input {
    color: #fff;
}
.input-default select {
    color: #fff;
}

::placeholder {
    font-family: 'Nunito';
    font-size: 16px;
    color: #666666;
}

.input-alternate {
    padding: 15px 5px;
    font-size: 16px;
}

.input-default input {
    background-color: rgba(0, 0, 0, 0);
    border: 0;
    font-size: 16px;
    outline: none;
    font-family: 'Nunito';
}

.input-short input {
    background-color: rgba(0, 0, 0, 0);
    border: 0;
    font-size: 16px;
    outline: none;
    font-family: 'Nunito';
}

.input-error {
    border: 2px solid #950F11;
}

.input-form-blurb {
    font-size: 12px;
    color: #666666;
    text-align: justify;
    text-justify: auto;
    align-items: center;
}

.input-form-icon {
    font-size: 20px;
    padding: 0% 5px;
    color: #666666;
    margin-bottom: 10px;
}

.input-form-separator {
    width: 60%;
}

.input-hidden {
    display: none;
}

.signup-card-links a {
    text-decoration: none;
    color: #950F11;
    display: block;
    padding-top: 15px;
    font-size: 12px;
}

.input-default input {
    background-color: rgba(0, 0, 0, 0);
    border: 0;
    font-size: 16px;
    outline: none;
    font-family: 'Nunito';
}

.input-short input {
    background-color: rgba(0, 0, 0, 0);
    border: 0;
    font-size: 16px;
    outline: none;
    font-family: 'Nunito';
}

.input-form-blurb {
    font-size: 12px;
    color: #666666;
    text-align: justify;
    text-justify: auto;
    align-items: center;
}

.input-form-icon {
    font-size: 20px;
    padding: 0% 5px;
    color: #666666;
    margin-bottom: 10px;
}

.material-icons.md-light {
    color: rgba(255, 255, 255, 1);
}

.contenido main {
    padding: 10px 3%;
}

.input-hidden {
    display: none;
}

.contenido {
    min-height: calc(100vh - 206px);
}

.signup-card-links a {
    text-decoration: none;
    color: #950F11;
    display: block;
    padding-top: 15px;
    font-size: 12px;
}


/* Unknown
*
*
* 
*
*
*
*
*
*/

.fnd-claro {
    background: #FFFFFF;
    padding: 10%;
}

.fnd-oscuro {
    background: #070F1A;
    padding: 10%;
}