* {
    box-sizing: border-box;
}

body {
    font-size: 16px;
    font-family: 'Lora';
}

h1 {
    font-family: 'Oswald';
    font-size: 48px;
}

h2,
h3,
h4,
h5,
h6 {
    font-family: 'Nunito';
}

textarea {
    outline: none;
    resize: none;
    width: 100%;
    height: 200px;
}

.btn1-fondoclaro {
    background: #950F11;
    border: 2px solid #950F11;
    color: #FFFFFF;
    cursor: pointer;
    font-weight: bold;
    padding: 10px;
    border-radius: 5px;
    font-family: 'Lora';
}

.btn1-fondooscuro {
    background: #BAC1CA;
    border: 2px solid #BAC1CA;
    color: #070F1A;
    cursor: pointer;
    font-weight: bold;
    padding: 10px;
    border-radius: 5px;
    font-family: 'Lora';
}

.btn2-fondoclaro {
    background: #BB9526;
    border: 2px solid #BB9526;
    color: #070F1A;
    cursor: pointer;
    font-weight: bold;
    padding: 10px;
    border-radius: 5px;
    font-family: 'Nunito';
}

.btn2-fondooscuro {
    background: #950F11;
    border: 2px solid #950F11;
    color: #FFFFFF;
    cursor: pointer;
    font-weight: bold;
    padding: 10px;
    border-radius: 5px;
    font-family: 'Nunito';
}

.fnd-claro {
    padding: 10%;
}

.fnd-oscuro {
    padding: 10%;
}

/* Inputs  */

.input-container {
    margin-bottom: 30px;
}

.input-default {
    border-bottom: 1px solid #333;
    border-radius: 4px;
    padding: 5px 5px;
    font-size: 16px;
}

.input-short {
    border-bottom: 1px solid #333;
    border-radius: 4px;
    padding: 5px 5px;
    font-size: 16px;
    width: 50%;
}

.form-text {
    font-size: 16px;
    width: 50%;
    line-height: 2;
    padding-left: 10px;
}

.input-default select {
    background-color: rgba(0, 0, 0, 0);
    border: 0;
    font-size: 16px;
    outline: none;
    font-family: 'Lora';
    width: 100%;
}

.input-default select option {
    color: #fff;
    background-color: #333;
    border: none;
}

.input-short select {
    background-color: rgba(0, 0, 0, 0);
    border: 0;
    font-size: 16px;
    outline: none;
    font-family: 'Lora';
    width: 100%;
}

.input-short select option {
    color: #fff;
    background-color: #333;
    border: none;
}

.dual-inputs {
    display: flex;
    justify-content: space-between;
}

/* INPUT TEXT TO WHITE */

.input-short select {
    color: #fff;
}

.input-default input{
    color: #fff;
}

.input-short input {
    color: #fff;
}
.input-default select {
    color: #fff;
}

::placeholder {
    font-size: 16px;
    color: #666;
}

.input-alternate {
    padding: 15px 5px;
    font-size: 16px;
}

.input-default input {
    background-color: rgba(0, 0, 0, 0);
    border: 0;
    font-size: 16px;
    outline: none;
    font-family: 'Lora';
}

.input-short input {
    background-color: rgba(0, 0, 0, 0);
    border: 0;
    font-size: 16px;
    outline: none;
    font-family: 'Lora';
}

.input-error {
    border: 2px solid #950F11;
}

.input-form-blurb {
    font-size: 12px;
    color: #555;
    text-align: justify;
    text-justify: auto;
    align-items: center;
}

.input-form-icon {
    font-size: 20px;
    padding: 0% 5px;
    color: #333;
    margin-bottom: 10px;
}

.input-form-separator {
    width: 60%;
}

.input-hidden {
    display: none;
}

.signup-card-links a {
    text-decoration: none;
    color: #950F11;
    display: block;
    padding-top: 15px;
    font-size: 12px;
}

.header-principal {
    font-family: 'Nunito', sans-serif;
    font-size: 16px;
    background: #BB9526;
    display: flex;
    min-height: 56px;
    padding: 0 3%;
}

.header-principal .logo {
    height: 56px;
    width: 120px;
    display: flex;
    justify-content: space-evenly;
}

.header-principal .logo {
    height: 56px;
    width: 250px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Oswald', sans-serif;
    font-size: 16px;
}

.header-principal .logo img {
    height: 100%;
}

.header-principal nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.item {
    padding: 0px 10px;
    height: 100%;
    display: flex;
    align-items: center;
}

.item a{
    color: #fff;
    text-decoration: none;
}

.item:hover {
   background-color: #950F11;
}

.push {
    display: flex;
    height: 100%;
    margin-left: auto;
}


.input-default input {
    background-color: rgba(0, 0, 0, 0);
    border: 0;
    font-size: 16px;
    outline: none;
    font-family: 'Lora';
}

.input-short input {
    background-color: rgba(0, 0, 0, 0);
    border: 0;
    font-size: 16px;
    outline: none;
    font-family: 'Lora';
}

.input-form-blurb {
    font-size: 12px;
    color: #555;
    text-align: justify;
    text-justify: auto;
    align-items: center;
}

.input-form-icon {
    font-size: 20px;
    padding: 0% 5px;
    color: #333;
    margin-bottom: 10px;
}

.material-icons.md-light {
    color: rgba(255, 255, 255, 1);
}

.material-icons.md-light {
    color: rgba(255, 255, 255, 1);
}

.contenido main {
    padding: 10px 3%;
}

.input-hidden {
    display: none;
}

.contenido {
    min-height: calc(100vh - 206px);
}

.signup-card-links a {
    text-decoration: none;
    color: #950F11;
    display: block;
    padding-top: 15px;
    font-size: 12px;
}


/* css footer  */

.footer {
    width: 100%;
    height: 150px;
    background-color: #950F11;
}

.footer .contain {
    display: flex;
    flex-direction: row;
}

.footer .col {
    width: 190px;
    padding: 20px;
}

.footer .col p {
    font-family: 'Lora';
    font-size: 16px;
    color: #fff;
    padding: 10px 0px 5px 0px;
}

.footer .col a {
    font-family: 'Nunito', sans-serif;
    font-size: 12px;
    color: #fff;
    text-decoration: none;
}


/* end css footer */

.btn1-fondoclaro {
    background: #950F11;
    border: 2px solid #950F11;
    color: #FFFFFF;
    cursor: pointer;
    font-weight: bold;
    padding: 10px;
    border-radius: 5px;
    font-family: 'Lora';
}

.header-principal .logo {
    margin-left: 2%;
    font-family: 'Nunito', sans-serif;
    font-size: 32px;
    color: #ffffff;
}

.header-principal .item-right .btn1-fondoclaro {
    padding: 10px;
    margin-right: 50px;
    /**/
    border: 2px solid #950F11;
    border-radius: 5px;
    background: #950F11;
    /**/
    font-family: 'Lora';
    font-size: 1rem;
    font-weight: bold;
    color: #FFFFFF;
    cursor: pointer;
}

.header-principal .item-right .btn1-fondoclaro:hover {
    border: 2px solid #BAC1CA;
    background: #BAC1CA;
    color: #950F11;
}

.btn1-fondoclaro {
    padding: 10px;
    margin-right: 50px;
    /**/
    border: 2px solid #950F11;
    border-radius: 5px;
    background: #950F11;
    /**/
    font-family: 'Lora';
    font-size: 1rem;
    font-weight: bold;
    color: #FFFFFF;
    cursor: pointer;
}

.btn1-fondoclaro:hover {
    border: 2px solid #BAC1CA;
    background: #BAC1CA;
    color: #950F11;
}

.material-icons.md-light {
    color: rgba(255, 255, 255, 1);
}


