.contenedor-centro {
    background-image: url(../media/background1.jpg);
    background-size: cover;
    display: flex;
    flex-flow: row wrap;
    width: 100%;
}

.card-funcion {
    display: flex;
    min-width: 20px;
    margin: 3px;
    padding: 10px;
    font-size: 25px;
    font-family: "Nunito";
    background-color: #111111;
    color: #fff;
}

.card-funcion-admin {
    background-color: grey;
}

.card-funcion i {
    font-size: 45px;
}

.card-funcion-admin i {
    font-size: 45px;
}