.section-step-inactive {
    display: none;
    height: 0px;
    width: 0px;
}

.section-step-active {
    justify-content: center;
    height: 100vh;
    padding: 3%;
}

.section-step-one {
    align-items: center;
}

.section-left {
    display: inline-block;
    padding-right: 200px;
}

.section-right {
    display: inline-block;
    padding: 200px;
    font-family: 'Nunito';
    font-size: 25px;
    text-align: left;
}

.input-container-date {
    text-align: left;
    padding-bottom: 70px;
}

.salas {
    text-align: left;
}

.sala-btn {
    text-align: left;
    padding-top: 70px;
}

p {
    font-family: 'Nunito';
    font-size: 25px;
}