.sct-recover {
    background-image: url(../media/landing-page.png);
    background-size: cover;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    height: 100vh;
    padding: 0px 30px;
}

.contenedor-der {
    background-color: #111111;
    color: #fff;
    padding: 5px 60px;
    border-radius: 5px;
    max-width: 30%;
    backdrop-filter: blur(50px);
    margin: 30px;
}

.contenedor-der p {
    color: #fff;
    font-family: 'Nunito';
    font-size: 30px;
    margin: 3%;
}

.contenedor-izq {
    background-color: #111111;
    color: #fff;
    padding: 5px 60px;
    border-radius: 5px;
    padding: 5px;
    backdrop-filter: blur(50px);
    margin: 30px;
}

.contenedor-izq p {
    color: #fff;
    font-family: 'Nunito';
    font-size: 30px;
    margin: 3%;
    max-width: 50%;
}

.registrarse button {
    margin: 3%;
    width: 50%;
    position: relative;
    left: 5%;
}

.descripcion {
    margin: 1%;
}

span {
    color: #fff;
    font-weight: bold;
    font-family: 'Oswald';
    font-size: 36px;
}