    .header-principal {
        font-family: 'Nunito', sans-serif;
        font-size: 16px;
        background: #BB9526;
        display: flex;
        min-height: 56px;
        padding: 0 3%;
    }
    
    .header-principal .logo {
        height: 56px;
        width: 120px;
        display: flex;
        justify-content: center;
    }
    
    .header-principal .item-left {
        display: flex;
        margin-left: 0;
        margin-right: auto;
        font-family: 'Nunito';
        font-size: 30px;
    }
    
    .header-principal .item-right {
        display: inline-flex;
        padding: 5px;
    }
    
    .btn1-fondooscuro {
        background: #BAC1CA;
        border: 2px solid #BAC1CA;
        color: #070F1A;
        cursor: pointer;
        font-weight: bold;
        padding: 10px;
        border-radius: 5px;
        font-family: 'Lora';
    }
    
    .contendedor-principal {
        display: flex;
        flex-flow: row wrap;
    }
    
    .contenedor-izq {
        display: flex;
        flex-flow: row wrap;
    }
    
    .contenedor-izq-interno {
        border: 1px solid #070F1A;
        border-radius: 5px;
        margin: 10%;
        font-size: 25px;
        font-family: "Nunito";
        padding: 10%;
        width: 100%;
    }
    
    .contenedor-der {
        display: flex;
        flex-flow: row wrap;
    }
    
    .descripcion {
        display: flex;
        flex-flow: row wrap;
        border: 1px solid #070F1A;
        border-radius: 5px;
        font-family: "Nunito";
        font-size: 25px;
        margin: 3%;
        padding: 2%;
        min-width: 90%;
        text-align: center;
    }
    
    .contenedor-der-interno {
        display: flex;
        flex-flow: row wrap;
        margin: 3%;
        padding: 50%;
        min-width: 100%;
        background-image: url('/imgs/img.png');
        background-repeat: no-repeat;
        background-size: cover;
    }
    
    .registrarse {
        width: 100%;
        border: 1px solid #070F1A;
        padding: 10px;
        margin: 5px;
    }
    
    .registrarse button {
        position: relative;
        left: 50%;
    }