.sct-recover {
    background-image: url(../media/landing-page.png);
    background-size: cover;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    height: 100vh;
    padding: 0px 30px;
}

.contenedor-der {
    background-color: #11111180;
    color: #fff;
    padding: 5px 60px;
    border-radius: 5px;
    max-width: 30%;
}

.contenedor-der p {
    color: #fff;
    margin: 3%;
    font-family: 'Nunito';
}

.contenedor-izq .titulo {
    font-family: 'Oswald';
}

.contenedor-izq {
    background-color: #11111180;
    color: #fff;
    padding: 5px 60px;
    border-radius: 5px;
    padding: 5px;
}

.contenedor-izq p {
    color: #fff;
    font-family: 'Nunito';
    margin: 3%;
    max-width: 50%;
}

.registrarse button {
    margin: 3%;
    width: 50%;
    position: relative;
    left: 5%;
}

.descripcion {
    margin: 1%;
}

span {
    color: #BB9526;
    font-weight: bold;
}