.sct-recover {
    background-image: url(../media/pexels-cottonbro-8263324.jpg);
    background-size: cover;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    height: 100vh;
    padding: 0px 30px;
}

.sct-recover .div-signup-icon {
    color: #fff;
}

.sct-recover .div-signup-icon p:nth-child(1) {
    font-size: 40px;
    padding-bottom: 20%;
}

.sct-recover .div-signup-icon p:nth-child(2) {
    font-size: 100px;
    font-family: Oswald;
}

.div-signup-card .input-container {
    margin-bottom: 30px;
}

.div-signup-card {
    background-color: #111111;
    color: #fff;
    padding: 5px 60px;
    border-radius: 5px;
}

.div-signup-card .signup-card-body {
    padding: 5px 5%;
    padding-bottom: 50px;
}

.div-signup-card form h1 {
    font-size: 40px;
    margin-bottom: 30px;
    width: 50%;
    align-items: center;
}

.div-signup-card .signup-card-top {
    padding: 5px 0px;
}

.div-signup-card .signup-card-top .material-icons a {
    text-decoration: none;
    color: #950F11;
    font-size: 40px;
}

footer {
    display: block;
    height: 30px;
    font-size: 18px;
    background-color: #111111;
    padding: 50px 5%;
    text-align: end;
    color: #fff;
}