body {
    background-color: #000000;
    display: flex;
    justify-content: space-between;
    /* centrar y separar */
    /* padding: 50px 3%; */
}

h1 {
    font-size: 15pt;
    font-family: 'Zen Kurenaido', sans-serif;
    color: #ffffff;
    margin-bottom: 3%;
}

p {
    font-size: 11pt;
    font-family: 'Poppins', sans-serif;
    color: #ffffff;
    margin-bottom: 15%;
}